.auth-box {
    width: 100%;
    max-width: 500px;
    margin: 5rem auto;
    background: white;
    border-radius: 10px;
    padding: 3.25rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
    border: 1px solid var(--border);
}

.auth-box h3 {
    color: var(--text);
}

.auth-box .nav-tabs .nav-link {
    color: var(--text-muted);
    border: none;
    border-bottom: 3px solid transparent;
}

.auth-box .nav-tabs .nav-link.active {
    border-bottom: 3px solid var(--accent);
    font-weight: 600;
    color: var(--primary);
    background: none;
}

.auth-box .form-label {
    color: var(--text);
}

.auth-box .form-control,
.form-select {
    border-color: var(--border);
    background-color: #fffaf3;
    color: var(--text);
}

.auth-box .form-control:focus,
.form-select:focus {
    border-color: var(--accent);
    box-shadow: 0 0 0 0.2rem rgba(229, 143, 101, 0.2);
}

.auth-box .btn-primary {
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
}

.auth-box .btn-primary:hover {
    background-color: #142600;
}

.auth-box .btn-outline-dark {
    border-color: var(--text-muted);
    color: var(--text-muted);
}

.auth-box .btn-outline-dark:hover {
    background-color: var(--secondary);
    color: var(--primary);
    border-color: var(--secondary);
}

.auth-box .text-muted {
    color: var(--text-muted) !important;
}

.auth-box a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.auth-box .tooltip-inner {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 5px;
    font-size: 0.875rem;
    padding: 0.5rem;
}

.auth-box .tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--primary);
}