:root {
    --bg: #fdf9f2;
    --primary: #1a3300;
    --secondary: #fcec5b;
    --accent: #e58f65;
    --text: #4a3f35;
    --text-muted: #7c6f65;
    --border: #ddd1c1;
}

body {
    background-color: var(--bg);
    font-family: "Inter", sans-serif;
}

h1 {
    color: var(--primary);
}

a{   
    color: var(--accent);
}

.nav-link{
    border-radius: 0;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
}

.hero {
    height: 80vh;
    background: var(--bg);
}

.hero .cta-btn {
    background-color: var(--primary);
    color: var(--secondary);
}
.hero .cta-btn:hover{
    transform: scale(1.1);
}